body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

#auth{
  margin-top:100px;
}

input,button{
  display:block;
  margin:10px auto;
  padding:10px;
  font-size:16px;
}

canvas{
  display:none;
  background:#222;
  margin:auto;
}

.fire{
  color:red;
  text-shadow:
    0 0 5px orange,
    0 0 10px red,
    0 0 20px yellow;
}